html, body{
    height: 100%;
    font-family: Roboto;
    color: whitesmoke;
}
body{
    background-image: url('../images/banner-bg.jpeg');
    /* background-repeat: repeat-y; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom, left top;
}
.flex-container-main{

    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column; 
}
.flex-1{
    border-style: solid;
    border-width: 1px;
    height: 100vh;
    border-color: azure;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
}
.header-flex{
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 20px;
}
.header-flex > div{
    margin: 10px;
}
.flex-menu > div{
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 2px;
    background-color: azure;
    margin: 2px 0;
}
.flex-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-2{
    border-style: solid;
    border-width: 1px;
    height: 100vh;
    border-color: azure;
}
.flex-3{
    border-style: solid;
    border-width: 1px;
    height: 100vh;
    border-color: azure;
}
.flex-4{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    height: 20vh;
    border-color: azure;
    background-color:#51CCA8;
    padding: 30px;
    color: black;
    justify-content: center;
    align-items: center;
}
.flex-container-mini-1{
    flex-direction: column;
}
.child-flex-1{
    background-color:#51B9CC;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.child-flex-2{
    background-color:#51CCA8;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.img-cars{
    background-image: url(../images/cars-3-trailer.jpg);
    background-size: cover;
}
.child-flex-1 .img-cars{
    height: 50vh;
    width: 45vw;
}
.child-flex-1 .txt-div{
    align-self: center;
    margin-right: 10%;
}
.child-flex-2 .img-cars{
    height: 50vh;
    width: 45vw;
}
.child-flex-2 .txt-div{
    align-self: center;
    margin-left: 10%;
}
.cars-card{
    width: 250px;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px; 
    height: 85%;
    overflow: auto;
}
.card-container{
    color: black;
    padding: 10px;
}
.card-image{
    content: url('../images/cars-3-trailer.jpg');
    width: 100%;
}
.child-flex-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    background: linear-gradient(120deg, #51CCA8 50%, #51B9CC 50%);
}
.fieldsets{
    border: none;
}
.legend-white{
    margin: auto;
    color: whitesmoke;
}
.legend-black{
    margin: auto;
    color: black;
}
.textbox{
    padding: 10px;
    font-size: 10px;
    border-radius: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.button{
    padding: 10px;
    font-size: 10px;
    border: solid 1px #6E81D0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #6E81D0;
    color: white;
}
.textbox::selection{
    border: solid 3px #6E81D0;
}
