input:checked + lable{
    color:red;
}

a:active::before {
    content: "\2713 ";         
}

a:visited::before {
    content: "\2713 ";
    color: yellowgreen;
}

a::before {
   content: attr(title) "";      
}

a:visited{
    color: brown;
}

.empty:empty{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}

input[type=text]:disabled {
    background: red;
}
input[type=text]:enabled {
    background:blue;
}

p[lang|=en]{
    /* color: red; */
}
p[lang^=en]{
    color: blue;
}

p[class="p-after"]{
    
    width: 100px;
}
p[class="p-after"]::after{

    content: "";
    display: block;
    background: url("../images/fan.png") no-repeat;
    width: 20px;
    height: 20px;
    float: right;
    background-size: contain;
}

p[class="p-before"]::before{

    content: "";
    display: block;
    background: url("../images/bat.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    background-size: contain;
}

p[class="p-normal"]::after{
    content: "";
    display: block;
    background-color: red;
    height: 50px;
    width: 50px;
}

.class1.class2{

}